
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
.DS_Store
._*
.Spotlight-V100
.Trashes
.*.sw[a-z]
*.un~
Session.vim
/*.sublime-project
